.sneaker-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    height: 100%;
    font-size: 2rem;
    margin: auto;
}

.sneaker-info-container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    gap: 30px;
}

.buttons-container {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: space-between;
}

.buttons-container button {
    outline: none;
    text-decoration: none;
    color: white;
    background: transparent;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
}

